<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<section class="content">
  <div>
    <h1>Scores</h1>
    <table>
      <tr>
        <th>Host</th>
        <th>Service</th>
        <th>Status</th>
      </tr>

      {% for i in range(0, g.len) %}
      
        <tr>
          <td>{{g.services[i]['host']}}</td> 
          <td>{{g.services[i]['service']}}</td>
          <td>{{g.services[i]['status']}}</td>
        </tr>
      
      {%endfor%}
    
    </table>
  </div>
</section>
